body {
  background: url("/images/back8.jpg");
  background-repeat: repeat;
  background-attachment: no-fixed;
  background-position: 50% 50%;
}
.content-wrap {
  opacity: 0.8;
}
.post-block {
  background: rgba(255,255,255,0.6) none repeat scroll !important;
}
.sidebar-inner {
  background: rgba(255,255,255,0.6) none repeat scroll !important;
}
.header-inner {
  background: rgba(255,255,255,0.6);
}
.popup {
  opacity: 0.6;
}
